Language: Cpp
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements: Consecutive
AlignOperands : AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnSingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignTrailingComments: Always
AllowShortRecordOnASingleLine: Never
BitFieldColonSpacing: Both
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakBeforeBraces: Attach
IncludeBlocks: Merge
